// Bootstrap
$primary: hsl(240, 100%, 9%);
$secondary: hsl(0, 1%, 24%);

// Custom
$font-primary: hsl(234, 51%, 39%);
$font-secondary: hsl(0, 1%, 24%);
$font-tertiary: hsl(240, 1%, 63%);
$font-white: hsl(0, 0%, 100%);

// Form
$form-color: #B8B8B8;