// General styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $font-secondary;
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    text-decoration: none;
    @include transition(ease, 0.3s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    text-transform: uppercase;
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.bold {
    font-weight: 700;
}

.ls-2 {
    letter-spacing: 2px;
}

.color-primary {
    color: $font-primary;
}

.color-secondary {
    color: $font-secondary;
}

.color-tertiary {
    color: $font-tertiary;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    border-radius: 0;
}

.whatsapp {
    @include whatsapp-button;
}

header#navbar {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    text-transform: uppercase;
    @include transition(ease, 0.2s);

    #logo-navbar {
        width: 100px;
        @include transition(ease, 0.2s);
    }

    ul {
        margin-bottom: 0;

        li {
            margin: 0 15px;
        }
    }

    #mburger {
        font-size: 1.5rem;
        // color: ;

        &:hover,
        &:focus {
            // color: ;
        }
    }
}

.navbar-scroll {
    // background-color: ;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 60px !important;
    }

    #mburger {
        // color: !important;
    }
}

.jumbotron {
    // @include background('../images/bg-jumbotron.png', center, cover);
    color: $font-white;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    #bg-video,
    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
    }

    #bg-video {
        top: 50%; 
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%; 
        min-height: 100vh; 
        width: auto; 
        height: auto;
        overflow: hidden;
        z-index: 1;
    }

    #overlay {
        background: rgb(14,45,168);
        background: linear-gradient(90deg, rgba(14,45,168,1) 0%, rgba(17,18,58,1) 50%);
        opacity: .8;
        z-index: 2;
    }

    #logo,
    #caption,
    #btn-ver-video {
        position: relative;
        z-index: 3;
    }

    #caption {
        h1 {
            span {
                color: $font-tertiary;
            }
        }
    }

    #btn-ver-video {
        img {
            max-width: 60px;
            @include transition(ease, 0.3s);

            &:hover,
            &:focus {
                max-width: 65px;
            }
        }
    }
}

.seccion-general {
    .left,
    .right {
        width: 100%;
        height: auto;
        float: left;
        padding: 30px;
    }

    h4 {
        color: $font-tertiary;
    }

    hr {
        width: 90%;
        border-top: 1px solid $font-tertiary;
        opacity: 1;
    }
}

.servicios {
    .nav {
        justify-content: center;
        font-weight: 700;
        font-size: 1rem;
        color: $font-tertiary;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .nav-tabs {
        border-bottom: 3px solid $font-tertiary;

        .nav-item {
            position: relative;
            top: 2px;
        }

        .nav-link {
            color: $font-tertiary;

            &.active {
                background-color: transparent;
                border-radius: 0;
                border: none;
                border-bottom: 3px solid $font-primary;
                color: $font-primary;

                &:hover {
                    border-bottom: 3px solid $font-primary;
                }
            }

            &:hover {
                border-color: $font-white;
                color: $font-primary;
            }
        }
    }
}

.proyectos {
    .accordion {
        --bs-accordion-btn-bg: transparent;
        --bs-accordion-inner-border-radius: 0;

        .accordion-item {
            border: none;

            .accordion-header {
                .accordion-button {
                    font-size: 1.25rem;
                    font-weight: 700;
                    display: block;
                    letter-spacing: 2px;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;

                    &:not(.collapsed) {
                        background-color: transparent;
                        box-shadow: none;
                    }

                    &:focus {
                        border: none;
                        box-shadow: none;
                    }

                    &::after {
                        position: absolute;
                        right: 30px;
                    }
                }
            }

            .accordion-body {
                padding-top: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .slider-proyectos {
        width: 100%;
        height: 600px;
        float: left;
        position: relative;

        .swiper-slide {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            position: relative;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                @include transition(ease, 0.3s);

                &:hover {
                    -webkit-transform: scale(1.05);
                        -ms-transform: scale(1.05);
                            transform: scale(1.05);
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: $primary;
        }
    }
}

.contacto {
    @include background('../images/bg-contacto.png', center, cover);
    color: $font-white;
    padding: 60px 0;
    position: relative;
    z-index: 10;

    a {
        color: $font-white;
        @include transition(ease, 0.3s);

        &:hover {
            color: $font-tertiary;
        }
    }

    form {
        .form-control {
            background: transparent;
            border-radius: 0;
            border-color: $form-color;
            color: $form-color;

            &:focus {
                background: transparent;
            }
        }
    }

    .tablinks.active {
        color: $font-tertiary;
    }

    .tabcontent {
        display: none;
        @include transition(ease, 0.3s);
    }
}

footer {
    // @include background('../images/bg-footer.png', center, cover);
    padding: 100px 0;
    color: $font-white;
    position: relative;

    a {
        color: $font-white;

        &:hover {
            color: $font-white;
            text-decoration: underline;
        }
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
    }

    #overlay {
        background: rgb(14,45,168);
        background: linear-gradient(90deg, rgba(14,45,168,1) 0%, rgba(17,18,58,1) 50%);
        opacity: .8;
        z-index: 2;
    }

    .left,
    .right,
    .copyright {
        position: relative;
        z-index: 3;
    }

    .right {
        font-weight: 700;
        text-transform: uppercase;
    }

    address {
        display: inline;
    }
    
    li {
        margin-bottom: 30px;
    }

    i {
        margin-right: 15px;
    }
}