// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    .jumbotron {
        #top,
        #bottom {
            position: relative;
            top: -106px;
        }
    }

    .seccion-general {
        .left,
        .right {
            padding: 100px;
        }

        hr {
            width: 60%;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .seccion-general {
        hr {
            width: 50%;
        }
    }

    .menu {
        width: 50%;
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .seccion-general {
        hr {
            width: 80%;
        }
    }

    .menu {
        width: 40%;
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    .seccion-general {
        hr {
            width: 50%;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {

}
