.menu {
    background: rgb(14,45,168);
    background: linear-gradient(90deg, rgba(14,45,168,1) 0%, rgba(17,18,58,1) 50%);
    width: 100%;
    height: 100vh;
    padding: 0 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -633px;
    opacity: 0;
    z-index: -1;
    @include transition-menu(0.8s);

    #cerrar-menu {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.3rem;

        color: $font-white;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $font-white;
        }
    }

    .menu-contenido {
        width: 100%;
        text-align: center;
        color: $font-white;

        .logo {
            max-width: 100px;
        }

        nav,
        #btn-contacto,
        #social,
        #contacto-menu {
            width: 100%;
            float: left;
            display: block;
        }

        nav,
        #social,
        #contacto-menu {
            width: 100%;
            float: left;
            display: block;

            a {
                color: $font-white;
                text-decoration: none;

                &:hover,
                &:focus {
                    color: $font-white;
                }
            }
        }

        nav {
            width: 100%;
            float: left;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 2.4rem;
            margin: 30px auto;
            text-align: center;
        }

        #btn-contacto {
            margin: 0 auto 30px;
        }

        #social {
            font-size: 2rem;
        }

        #contacto-menu {
            color: $font-white;

            address {
                display: inline;
            }

            li {
                margin-bottom: 15px;
            }
        }
    }
}

.menu-abierto {
    right: 0;
    opacity: 1;
    z-index: 9999;
}

#backdrop {
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    z-index: -2;
    @include transition(ease, 0.2s);
}

.backdrop-opacity-1 {
    opacity: 1 !important;
    display: block !important;
    z-index: 998 !important;
}
